* {
    margin: 0%;
    padding: 0%;
}

/*------------------------Menu Index--------------------*/

.menu {
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
}

.NavFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu ul li a:hover {
    background-color: rgba(51, 78, 30, 0.555);
}

.menu {
    animation-name: efectoMenu;
    animation-duration: 4s;
    animation-iteration-count: 1;
}


@keyframes efectoMenu {

    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

/*------------------Imagenes Index--------------*/

.contenedorImagenes {
    height: 900px;
}

.imagen1 {
    height: 400px;
    width: 900px;
    min-width: auto;
    min-height: auto;
    border: solid 3px whitesmoke;
    box-shadow: 10px 10px 10px rgb(24, 22, 22);

}

.imagen1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.imagen2 {
    background-image: url(imagenes/imagen3.jpg);
    -webkit-transition: 1s linear;
    transition: 1s linear;
    padding-top: 5px;
    border: solid 3px whitesmoke;
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
}


.imagen2 p {
    color: aliceblue;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 30px;
    font-size: 15px;
    margin: 40px;
    background-color: rgba(19, 110, 80, 0.534);

}

.imagen2:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.contenedorImagenes {
    height: auto;
}

body{
    background-color: black;
}

/*------------------------Menu Inicio--------------------*/

.menu {
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
}

.NavFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu ul li a:hover {
    background-color: rgba(51, 78, 30, 0.555);
}

.menu {
    animation-name: efectoMenu;
    animation-duration: 4s;
    animation-iteration-count: 1;
}


@keyframes efectoMenu {

    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

/*------------------Imagenes Inico--------------*/

.contenedorImagenes {
    height: 900px;
}

.imagen1 {
    height: 400px;
    width: 900px;
    min-width: auto;
    min-height: auto;
    border: solid 3px whitesmoke;
    box-shadow: 10px 10px 10px rgb(24, 22, 22);

}

.imagen1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.imagen2 {
    background-image: url(imagenes/imagen3.jpg);
    -webkit-transition: 1s linear;
    transition: 1s linear;
    padding-top: 5px;
    border: solid 3px whitesmoke;
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
}


.imagen2 p {
    color: aliceblue;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 30px;
    font-size: 15px;
    margin: 40px;
    background-color: rgba(19, 110, 80, 0.534);

}

.imagen2:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.contenedorImagenes {
    height: auto;
}

/*---------aside--------*/
.aside {
    height: 1000px;
    min-height: auto;
    animation-name: aside;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes aside {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.redes {
    display: flex;
    color: antiquewhite;
    align-items: center;
    font-size: 60px;
    font-weight: 100;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-shadow: 5px 5px 5px rgb(24, 24, 24);

}

/*----------cajas---------*/
.flex {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.texto {
    background-color: rgb(190, 190, 192);
    background-image: url(imagenes/imagen3.jpg);
    height: 300px;
    width: 500px;
    margin: 20px;
}

.texto {
    animation-name: rebotar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes rebotar {

    50% {
        opacity: 1;
        transform: translateY(5px);
        box-shadow: 10px 10px 10px rgba(63, 62, 62, 0.637);
    }

}


/*---------footer----------*/
footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoFooter {
    width: 300px;
    height: 150px;
    margin: 20px;
}

.logoFooter h2 {
    color: rgb(187, 117, 25);
    font-family: 'Square Peg', cursive;
    font-size: 200px;
    font-weight: 100;
    text-align: center;
    line-height: 175px;
    text-shadow: 5px 5px 5px rgb(34, 33, 33);
}

.imgFooter {
    width: 300px;
    height: 150px;
    margin: 20px;
    min-height: auto;
    min-width: auto;
}

.contenedorImg {
    height: 100px;
    min-height: auto;
    width: 250px;
    min-width: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.foto img {
    width: 100%;
    height: 100%;
}

.text {
    height: 50px;
    width: 250px;
    margin: auto;
    color: rgb(20, 83, 39);
    text-align: center;
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
    line-height: 50px;
}

/*--------------------------------------------------------RESPONSIVE--------------------------------------------*/
/*------------Vista Desktop Inicio--------------*/
@media only screen and (min-width: 1024px) {

    /* inicio */

    .grid {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "imagen imagen aside"
            "texto texto  texto"
            "footer footer footer";
        grid-template-columns: repeat(2, 1fr), 300px;
        grid-template-rows: repeat(4, auto);
    }


    nav {
        grid-area: nav;
    }

    .contenedorImagenes {
        grid-area: imagen;
    }

    aside {
        grid-area: aside;

    }

    .flex {
        grid-area: texto;
    }

    footer {
        grid-area: footer;
    }


    .imagen1 {
        margin-left: 100px;
        margin-top: 100px;
        
    }


    .imagen2 {
        transform: translate(900px, -50px);
        width: 500px;
        height: 400px;
    }

    .redes {
        flex-direction: column;
    }
}

/*--------------------Vista Tablet Inicio-----------*/

@media only screen and (min-width: 768px) and (max-width:1023px) {

    /* inicio */
   
    .imagen1 {
        margin-left: 50px;
        margin-top: 100px;
        height: 300px;
        width: 600px;
    }

    .imagen2 {
        transform: translate(400px, -40px);
        width: 350px;
        height: 550px;
    }

    .menu ul li a{
        font-size: 23px;
    }

}

/*-----Vista Mobile Inicio------*/

@media only screen and (max-width: 767px) {
 
    .imagen1 {
        margin: auto;
        margin-top: 50px;
        height: 300px;
        width: 600px;
        min-width: 200px;
        min-height: 100px;
    }

    .imagen2 {
        width: 400px;
        height: 500px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }

     .menu ul li {
        display: block;
        padding: 10px;
        text-align: center;
    }
    
    .menu{
        margin-bottom: 20px;
    }
}

/*---------------------------------------------------INDEX---------------------------------------------------*/


.contenedor{
    height: 95%;
    width: 95%;
}

.caja2{
    width: 400px;
    height: 300px;
    background-image: url(imagenes/imagen3.jpg);
    color: aliceblue;
}

.logoEntrada{
    font-family: 'Square Peg', cursive;
    font-size: 200px;
    font-weight: 100;
    text-align: center;
}

.enlace{
    background-color: rgb(13, 139, 80);
    height: 60px;
    width: 250px;
    margin: auto;
  
}

.enlace a {
    color: aliceblue;
    font-family: 'BIZ UDPMincho', serif;
    font-size: 35px;
      text-decoration: none;
    display: block;
    padding: 10px;
    padding-left: 65px;
    
}
.enlace:hover{
    animation-name: click;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

@keyframes click{
    40%{
        -webkit-transform: scale(1.1);
    }
    20%, 60%{
        -webkit-transform: scale(0.8);
    }
}

.img2{
    width:900px;
    height: 400px;
}

 .caja{
    width: 600px;
    height: 800px;
    margin: 50px;
 }

.img1 img{
    width: 100%;
    height: 100%;
}

.img1 :hover{
    animation-name: intermitente;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes intermitente{
    50%{
        opacity: 1;
    }
    25%, 75%{
        opacity: 0;
    }
}

.img2 img{
    width:100%;
    height: 100%;
}


/*------------Vista Desktop Index--------------*/
@media only screen and (min-width: 1024px) {

    /* index */
    .caja{
    margin-left: 250px;
}

.img2{
    transform: translate(500px,-350px);
   
}

.caja2{
    transform: translate(800px,-1150px);
}
}

/*--------------------Vista Tablet Index-----------*/

@media only screen and (min-width: 768px) and (max-width:1023px) {

    /* index */
    .caja{
        width: 400px;
        height: 600px;
    }

 .img2{
    width: 0;
    height: 0;
}
 
.caja2{
    transform: translate(300px,-90px);
}
}
/*-----Vista Mobile Index------*/

@media only screen and (max-width: 767px) {


     .img2{
    width: 0;
    height: 0;
}

.caja{
    margin: auto;
    width: 500px;
    height: 700px;
}

.caja2{
    margin: auto;
}

.contenedor{
    padding-top: 40px;
}

}



/*---------------------------------------------------MEDIA---------------------------------------------------*/
.media {
    text-align: center;
    background-color: black;

}

.space {
    padding: 50px;
}



/*-------------------------------------------------NOSOTROS---------------------------------------------------------*/
.nosotros {
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: medium;
    line-height: 45px;
    font-weight: 1px;
}

.EveNosotros {
    text-align: center;
}

.imgKai {
    width: 600px;
    height: 600px;
    padding: 20px;
}

/*-----------------------------------------------------DISCOGRAFIA---------------------------------------------*/
.ContImg {
    padding: 50px;
}

.DiscografiaGrid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.I1:hover {
    background-color: rgba(27, 27, 27, 0.986);
}


/*------------Vista Desktop Discografia--------------*/
@media only screen and (min-width: 1024px) {

    body {
        background-color: rgb(0, 0, 0);
    }

    .GridContainerDiscografia {
        display: grid;
        grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "disco disco disco disco disco disco"
            "footer footer footer footer footer footer";
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: repeat(6, 1fr);
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    div .DiscografiaGrid {
        grid-area: disco;
    }

    footer {
        grid-area: footer;
    }
}

/*--------------------Vista Tablet Disco-----------*/

@media only screen and (min-width: 768px) and (max-width:1023px) {

    body {
        background-color: rgb(0, 0, 0);
    }

    .GridContainerDiscografia {
        display: grid;
        grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "disco disco disco disco disco disco"
            "footer footer footer footer footer footer";
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: repeat(6, 1fr);
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    div .DiscografiaGrid {
        grid-area: disco;
    }

    footer {
        grid-area: footer;
    }
}

/*-----Vista Mobile Disco------*/

@media only screen and (max-width: 767px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    .GridContainerDiscografia {
        display: grid;
        grid-template-areas:
            "header "
            "nav"
            "disco"
            "footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    div .DiscografiaGrid {
        grid-area: disco;
    }

    footer {
        grid-area: footer;
    }
}






/*------------------------------------------------------CONTACTO--------------------------*/


.con1 {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    text-align: center;
}

.contacto {
    background-image: url(imagenes/fondo1.jpg);
    width: 70%;
    padding: 50px;
    margin-left: 11%;
}

form {
    text-align: center;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin: 30px;
}

.FormInput {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 3px solid rgb(224, 25, 25);
    background-color: transparent;
    color: rgb(252, 252, 252);
}

.formulario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Select {
    margin: 20px;
}

.FormInput:focus {
    background-color: azure;
    outline: none;
    border-bottom: 3px solid rgb(34, 24, 77);
    color: black;
}

.form textarea {
    min-height: 150px;
    resize: none;
}

.textarea {
    text-align: center;
}

.terminos {
    font-family: 'Square Peg', cursive;
    font-size: 30px;

}

.FormInput1 {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 3px solid rgb(250, 208, 21);
    background-color: transparent;
    color: rgb(252, 252, 252);
}

.esp {
    margin: 20px;
}

.comentario {
    width: 50%;
    height: 40%;
}


/*------------------------Vista Desptok Contacto-------------------*/

@media only screen and (min-width: 1024px) {

    body {
        background-color: rgb(0, 0, 0);
    }

    .GridContacto {
        display: grid;
        grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "contacto contacto contacto contacto contacto contacto"
            "footer footer footer footer footer footer";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: repeat(6, 1fr);
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    section {
        grid-area: contacto;
    }

    footer {
        grid-area: footer;
    }

}

/*---------------------------Vista Tablet Contacto---------------------------*/

@media only screen and (min-width: 768px) and (max-width:1023px) {

    body {
        background-color: rgb(0, 0, 0);
    }

    .GridContacto {
        display: grid;
        grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "contacto contacto contacto contacto contacto contacto"
            "footer footer footer footer footer footer";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: repeat(6, 1fr);
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    section {
        grid-area: contacto;
    }

    footer {
        grid-area: footer;
    }

}

/*----------------------Vista Mobile Contacto------------------*/

@media only screen and (max-width: 767px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    .GridContacto {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "contacto"
            "footer ";
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    section {
        grid-area: contacto;
    }

    footer {
        grid-area: footer;
    }

}