* {
    margin: 0%;
    padding: 0%;
}

/*mapa*/
.bg-dark {
    background-color: #01070c !important;
}

body,
.jumbotron {
    background-image: url(imagenes/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav .navbar-collapse {
    justify-content: end;
}

nav .collapse .navbar-nav .nav-item {
    margin: 20px;
    font-size: 25px;
    font-family: "Amatic SC", cursive;
}

.jumbotron {
    margin-bottom: 0px;
    color: #b1afae;
}

.jumbotron .container {
    font-family: "Libre Baskerville", serif;
}

.row .col-md-6 {
    padding: 0;
}

.row .entrar {
    height: 30%;
}

.row .entrar img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.row .entrar2 {
    padding-top: 70px;
    height: 30%;
}

.row .entrar2 h2 {
    font-family: "Amatic SC", cursive;
    font-size: 120px;
    color: #b1afae;
}

.row .entrar2 h3 {
    font-family: "Amatic SC", cursive;
    font-size: 60px;
    margin-bottom: 90px;
    color: #F7770F;
}

.spotify {
    padding-left: 120px;
    margin-top: 50px;
}

.navbar-brand {
    font-family: "Amatic SC", cursive;
    font-size: 75px;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 100;
}

.footer {
    background-color: #01070c;
    width: 100%;
    height: auto;
}

.footer a {
    color: #b1afae;
}

.footer .contenedorImagenFooter {
    width: 200px;
    height: 130px;
}

.footer .contenedorImagenFooter img {
    width: 100%;
    height: 100%;
}

.footer .contenedorImagenFooter .contenedor1 {
    width: 190px;
    height: 90%;
    margin: 2px;
}

.footer .contenedorImagenFooter .contenedor1 .imagenFooter {
    width: 160px;
    height: 100%;
    margin-left: 6px;
    margin-right: 6px;
}

.footer .contenedorImagenFooter .contenedor2 {
    width: 190px;
    height: 60px;
    margin: 2px;
}

.footer .contenedorImagenFooter .contenedor2 p {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    margin: auto;
    color: #b1afae;
    text-align: center;
    line-height: 50px;
}

/*------------------------MEDIA--------------------*/
.uno img {
    width: 100%;
    height: auto;
    min-height: auto;
    object-fit: cover;
}

.row .col-md-6 .a3,
.row .col-md-6 .textoIframe {
    text-align: center;
    color: #b1afae;
}

.row .col-md-6 .textoIframe {
    padding: 20px;
}

.row .col-md-6 .iframe {
    width: 100%;
    height: 400px;
    min-height: auto;
    margin-top: 50px;
}

.row .col-md-6 .iframe iframe {
    width: 100%;
    height: 400px;
    min-height: auto;
}

.row video {
    width: 100%;
    height: auto;
    min-height: auto;
}

/*----------------Perfil------------*/
.row .col-md-6 .textoPerfil {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Libre Baskerville", serif;
    line-height: 40px;
    color: #b1afae;
    overflow: hidden;
    animation-name: texto;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.row .perfil img {
    width: 100%;
    height: auto;
    min-height: auto;
    box-shadow: 15px 15px 15px rgba(199, 195, 187, 0.6117647059);
}

.row .a1 img {
    width: 100%;
    height: auto;
    min-height: auto;
    box-shadow: -15px 15px 15px rgba(199, 195, 187, 0.6117647059);
}

@keyframes texto {
    0% {
        transform: rotateY(-50px);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    50% {
        transform: translateY(10px);
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 942px) {
    .a2 img {
        margin-top: 100px;
    }
}

/*---------------Discografia-------------*/
.disco {
    margin: 100px;
}

.disco .contImg {
    width: 400px;
    height: 400px;
    min-width: auto;
    min-height: auto;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5882352941);
}

.disco .contImg img {
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
    transition: all 500ms ease-out;
}

.disco .contImg .textoHover {
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
    position: absolute;
    top: 0%;
    background-color: rgba(202, 194, 185, 0.678);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.disco .contImg .textoHover a {
    background-color: black;
    color: #b1afae;
    margin: 20px;
    padding: 10px;
}

.disco .contImg .textoHover h3 {
    margin-bottom: 70px;
}

.disco .contImg:hover>.textoHover {
    opacity: 1;
    visibility: visible;
    animation-name: aparecer;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.disco .contImg:hover>.textoHover p {
    margin-top: 70px;
    margin-bottom: 70px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@media only screen and (min-width: 400px) and (max-width: 700px) {
    .disco {
        margin: auto;
        margin-top: 100px;
    }
}

/*----paginas discografia-----*/
.row .bubble img {
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: auto;
}

.row .textoBubble {
    width: 50%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: #ffffff;
}

.row .textoBubble h2 {
    margin-bottom: 30px;
}

.row .textoBubble li {
    margin: 20px;
}

/*----------Contacto----------*/
.contacto {
    width: 70%;
    margin: auto;
}

.contacto form {
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5882352941);
    color: #b1afae;
    margin: 30px;
}

.contacto form h2 {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
}

.contacto form .formulario .formInput {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #F7770F;
    background-color: #01070c;
    color: #b1afae;
}

.contacto form .select {
    margin: 20px;
}

.contacto form .textarea {
    min-height: 150px;
    resize: none;
    text-align: center;
}

.contacto form .textarea textarea {
    width: 50%;
    height: 40%;
}

.contacto form .terminos {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
}

.contacto form .terminos .esp {
    margin: 20px;
}

.comentario {
    width: 50%;
    height: 40%;
}

/*---------INDEX--------*/
.contenedor {
    width: 95%;
    height: 95%;
}

.caja2 {
    width: 400px;
    height: 300px;
    background-image: url(imagenes/imagen3.jpg);
    color: #b1afae;
}

.logoEntrada {
    font-family: "Amatic SC", cursive;
    font-size: 200px;
    font-weight: 100;
    text-align: center;
}

.enlace {
    width: 250px;
    height: 60px;
    background-color: rgb(13, 139, 80);
    margin: auto;
}

.enlace a {
    font-family: "Amatic SC", cursive;
    font-size: 35px;
    color: #b1afae;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}

.enlace:hover {
    animation-name: click;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes click {
    40% {
        -webkit-transform: scale(1.1);
    }

    20%,
    60% {
        -webkit-transform: scale(0.8);
    }
}

.img2 {
    width: 900px;
    height: 400px;
}

.caja {
    width: 600px;
    height: 800px;
    margin: 50px;
}

.img1 img {
    width: 100%;
    height: 100%;
}

.img1 :hover {
    animation-name: intermitente;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes intermitente {
    50% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.img2 img {
    width: 100%;
    height: 100%;
}

/*------------Vista Desktop Index--------------*/
@media only screen and (min-width: 1024px) {

    /* index */
    .caja {
        margin-left: 250px;
    }

    .img2 {
        transform: translate(500px, -350px);
    }

    .caja2 {
        transform: translate(800px, -1150px);
    }
}

/*--------------------Vista Tablet Index-----------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* index */
    .caja {
        width: 400px;
        height: 600px;
    }

    .img2 {
        width: 0;
        height: 0;
    }

    .caja2 {
        transform: translate(300px, -90px);
    }
}

/*-----Vista Mobile Index------*/
@media only screen and (max-width: 767px) {
    .img2 {
        width: 0;
        height: 0;
    }

    .caja {
        width: 500px;
        height: 700px;
        margin: auto;
    }

    .caja2 {
        margin: auto;
    }

    .contenedor {
        padding-top: 40px;
    }
}

/*# sourceMappingURL=style.css.map */