* {
    margin: 0%;
    padding: 0%;
}

$fuente1:"Amatic SC",
cursive;
$fuente2:"Libre Baskerville",
serif;

/*mapa*/

$paleta: (azul: #01070c,
    naranja: #F7770F,
    blanco: #b1afae,
    gris: #c7c3bb9c,
    dark: #00000096,
    hueso: #ffffff,
    naranjac:#d49059,
);

@mixin animaciont {
    overflow: hidden;
    animation-name: texto;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@mixin sizes($font, $size) {
    font-family: $font;
    font-size: $size;
}

@mixin WH($width, $height) {
    width: $width;
    height: $height;
}

.bg-dark {
    background-color: map-get($map: $paleta, $key:azul) !important;
}

.body {
    background-image: url(../imagenes/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: aparecer;
    animation-duration:4s;
    animation-iteration-count: 1;
}
@keyframes aparecer{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

nav {
    .navbar-collapse {
        justify-content: end;
    }

    .collapse {
        .navbar-nav .nav-item {
            margin: 20px;
            font-size: 25px;
            font-family: $fuente1;
        }
    }

}



.jumbotron {
    margin-bottom: 0px;
    color: map-get($map: $paleta, $key:hueso);
    @extend .body;

    .containerEve {
        font-family: $fuente2;
        @include animaciont;
        margin: 40px;
    }
}

.row {
    .col-md-6 {
        padding: 0;
    }

    .entrar {
        height: 30%;

        img {
            @include WH(100%, 100%);
            border-radius: 30px;
        }
    }

    .entrar2 {
        padding-top: 70px;
        height: 30%;

        h2 {
            @include sizes($fuente1, 120px);
            color: map-get($map: $paleta, $key: blanco);
        }

        h3 {
            @include sizes($fuente1, 60px);
            margin-bottom: 90px;
            color: map-get($map: $paleta, $key: naranja);
        }
    }
}


.spotify {
    @include WH(95%, 400px);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-brand {
    @include sizes($fuente1, 75px);
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 100;
}

.footer {
    background-color: map-get($map: $paleta, $key: azul);
    @include WH(100%, auto);
    border-radius: 20px 20px 0 0;

    a {
        color: map-get($map: $paleta, $key: blanco);
    }

    .contenedorImagenFooter {
        @include WH(200px, 130px);

        img {
            @include WH(100%, 100%);
        }

        .contenedor1 {
            @include WH(190px, 90%);
            margin: 2px;

            .imagenFooter {
                @include WH(160px, 100%);
                margin-left: 6px;
                margin-right: 6px;
            }
        }

        .contenedor2 {
            @include WH(190px, 60px);
            margin: 2px;

            p {
                @include sizes($fuente1, 30px);
                margin: auto;
                color: map-get($map: $paleta, $key: blanco);
                text-align: center;
                line-height: 50px;
            }
        }
    }
}

@media only screen and (max-width: 1296px) {
    .row {
        .entrar2 {
            h3 {
                color: map-get($map: $paleta, $key:blanco);
            }
        }
    }
}

@media only screen and (max-width: 841px) {
    .row {
        .entrar2 {
            h3 {
                color: map-get($map: $paleta, $key:azul);
            }
        }
    }
}

/*------------------------MEDIA--------------------*/
@mixin WHM($width, $height, $min) {
    width: $width;
    height: $height;
    min-height: $min;
}

.uno {
    img {
        @include WHM(100%, auto, auto);
        object-fit: cover;
    }
}

.row {
    .col-md-6 {
        .a3 {
            text-align: center;
            color: map-get($map: $paleta, $key:blanco);
        }
        .titulos{
            padding: 40px;
        h1{
            @extend .titulos;
        }
        }
        .iframe {
            @include WHM(100%, 400px, auto);
            margin-top: 50px;

            iframe {
                @include WHM(100%, 400px, auto);
            }
        }
    }

    video {
        @include WHM(100%, auto, auto);
    }
}

@media only screen and (max-width:936px) and (min-width:766px){
    .row{
        .col-md-6{
            .titulos{
                padding: 0;
                p{
                    font-size: 13px;
                    padding-left: 10px;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width:765px){
    .row{
        .col-md-6{
            .titulos{
                p{
                    color: map-get($map: $paleta, $key: hueso);
                }
            }
        }
    }
}

/*----------------Perfil------------*/

.row {
    .col-md-6 {
        .textoPerfil {
            width: 90%;
            margin-top: 30px;
            margin-bottom: 30px;
            font-family: $fuente2;
            line-height: 40px;
            color: map-get($map: $paleta, $key:hueso);
            @include animaciont;
        }
    }

    .perfil {
        img {
            @include WHM(100%, auto, auto);
            box-shadow: 15px 15px 15px map-get($map: $paleta, $key: gris);
        }
    }
}

.row {
    .col-md-6 {
        .textoPerfil {
            @extend .textoPerfil;
        }
    }

    .a1 {
        img {
            @include WHM(100%, auto, auto);
            box-shadow: -15px 15px 15px map-get($map: $paleta, $key:gris);
        }
    }

    .a3{
        img{
            margin-bottom: 30px;
        }
    }
}

@keyframes texto {
    0% {
        transform: rotateY(-50px);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    50% {
        transform: translateY(10px);
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 942px) {

    .a2 img {
        margin-top: 100px;
    }
}

/*---------------Discografia-------------*/
@mixin WHMM($width, $height, $minw, $minh) {
    width: $width;
    height: $height;
    min-width: $minw;
    min-height: $minh;
}

.titulos{
    h1{
        @include sizes($fuente1,50px);
        color: map-get($map: $paleta, $key: blanco);
        margin-top: 10px;
        text-align: center;
    }
}

.disco {
    margin: 100px;

    .contImg {
        @include WHMM(400px, 400px, auto, auto);
        margin: 20px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        box-shadow: 15px 15px 15px map-get($map: $paleta, $key:dark);

        img {
            @include WHMM(100%, 100%, auto, auto);
            transition: all 500ms ease-out;
        }

        .textoHover {
            @include WHMM(100%, 100%, auto, auto);
            position: absolute;
            top: 0%;
            background-color: rgba(202, 194, 185, 0.678);
            opacity: 0;
            visibility: hidden;
            text-align: center;

            a {
                background-color: black;
                color: map-get($map: $paleta, $key:blanco);
                margin: 20px;
                padding: 10px;
            }

            h3 {
                margin-bottom: 70px;
            }
        }

    }

    .contImg:hover>.textoHover {
        opacity: 1;
        visibility: visible;
        animation-name: aparecer;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .contImg:hover>.textoHover p {
        margin-top: 70px;
        margin-bottom: 70px;
    }

}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@media only screen and (min-width: 400px) and (max-width: 700px) {

    .disco {
        margin: auto;
        margin-top: 100px;
    }
}

/*----paginas discografia-----*/

.row {
    .bubble {
        img {
            @include WHMM(100%, auto, auto, auto)
        }
    }

    .textoBubble {
        width: 50%;
        text-align: center;
        font-family: $fuente2;
        color: map-get($map: $paleta, $key: hueso);

        h1 {
            margin-bottom: 30px;
        }

        li {
            margin: 20px
        }
    }
}

@media only screen and (max-width:767px){
    .row{
        .textoBubble{
            h1{margin-top: 40px;}
        }
    }
}
/*----------Contacto----------*/

.contacto {
    width: 70%;
    margin: auto;

    form {
        text-align: center;
        padding: 30px;
        background-color: map-get($map: $paleta, $key: dark);
        color: map-get($map: $paleta, $key: blanco);
        margin: 30px;

        h1 {
            @include sizes($fuente1, 30px);
        }

        .formulario {
            .formInput {
                width: 40%;
                padding: 10px;
                margin: 10px;
                border: none;
                border-bottom: 3px solid map-get($map: $paleta, $key:naranja);
                background-color: map-get($map: $paleta, $key: azul);
                color: map-get($map: $paleta, $key:blanco);
            }

        }

        .select {
            margin: 20px;
        }

        .textarea {
            min-height: 150px;
            resize: none;
            text-align: center;

            textarea {
                @include WH(50%, 40%);
            }

        }

        .terminos {
            @include sizes($fuente1, 30px);

            .esp {
                margin: 20px;
            }
        }
    }
}

.comentario {
    @include WH(50%, 40%);
}

@media only screen and (max-width: 1700px) {
    .contacto {
        width: 85%;
    }
}

@media only screen and (max-width: 800px) {
    .contacto {
        width: 100%;

        form {
            margin: 0;
        }
    }
}

/*--------INDEX--------*/

.index{
    background-color: black;
    animation-name: aparecerIndex;
    animation-duration:8s;
    animation-iteration-count: 1;
}

@keyframes aparecerIndex{
    0%{
        opacity:0
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.contenedorIndex{
    @include WH(100%,auto);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}
.containerImg{
    @include WH(75%,auto);
    margin: auto;
    position: relative;
}
.containerImg img{
    @include WH(100%,auto);
    animation-name: intermitenteIndex;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes intermitenteIndex {
    0% {
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
    75%{
        opacity:0.5;
    }
    100%{
        opacity: 0;
    }
}
.flex-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.enlace{
    position: absolute;
    top: 90%;
    left: 45%;
}

.enlace a:hover{
    color:map-get($map: $paleta, $key: naranja);
    
}
.enlace a{
    color:map-get($map: $paleta, $key:naranjac );
    font-family:$fuente1;
    font-size: 40px;
    text-decoration: none;

}

@media only screen and (max-width: 1700px){
    .containerImg{
        width: 85%;
    }
} 

@media only screen and (max-width: 1600px){
    .containerImg{
        width: 90%;
    }
}
@media only screen and (max-width: 1500px){
    .containerImg{
        width: 100%;
    }
}
