* {
  margin: 0%;
  padding: 0%;
}

/*mapa*/
.bg-dark {
  background-color: #01070c !important;
}

.body, .jumbotron {
  background-image: url(../imagenes/fondo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
nav .navbar-collapse {
  justify-content: end;
}
nav .collapse .navbar-nav .nav-item {
  margin: 20px;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

.jumbotron {
  margin-bottom: 0px;
  color: #ffffff;
}
.jumbotron .containerEve {
  font-family: "Libre Baskerville", serif;
  overflow: hidden;
  animation-name: texto;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  margin: 40px;
}

.row .col-md-6 {
  padding: 0;
}
.row .entrar {
  height: 30%;
}
.row .entrar img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.row .entrar2 {
  padding-top: 70px;
  height: 30%;
}
.row .entrar2 h2 {
  font-family: "Amatic SC", cursive;
  font-size: 120px;
  color: #b1afae;
}
.row .entrar2 h3 {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  margin-bottom: 90px;
  color: #F7770F;
}

.spotify {
  width: 95%;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-brand {
  font-family: "Amatic SC", cursive;
  font-size: 75px;
  line-height: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 100;
}

.footer {
  background-color: #01070c;
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.footer a {
  color: #b1afae;
}
.footer .contenedorImagenFooter {
  width: 200px;
  height: 130px;
}
.footer .contenedorImagenFooter img {
  width: 100%;
  height: 100%;
}
.footer .contenedorImagenFooter .contenedor1 {
  width: 190px;
  height: 90%;
  margin: 2px;
}
.footer .contenedorImagenFooter .contenedor1 .imagenFooter {
  width: 160px;
  height: 100%;
  margin-left: 6px;
  margin-right: 6px;
}
.footer .contenedorImagenFooter .contenedor2 {
  width: 190px;
  height: 60px;
  margin: 2px;
}
.footer .contenedorImagenFooter .contenedor2 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  margin: auto;
  color: #b1afae;
  text-align: center;
  line-height: 50px;
}

@media only screen and (max-width: 1296px) {
  .row .entrar2 h3 {
    color: #b1afae;
  }
}
@media only screen and (max-width: 841px) {
  .row .entrar2 h3 {
    color: #01070c;
  }
}
/*------------------------MEDIA--------------------*/
.uno img {
  width: 100%;
  height: auto;
  min-height: auto;
  object-fit: cover;
}

.row .col-md-6 .a3 {
  text-align: center;
  color: #b1afae;
}
.row .col-md-6 .titulos, .row .col-md-6 .titulos h1 {
  padding: 40px;
}
.row .col-md-6 .iframe {
  width: 100%;
  height: 400px;
  min-height: auto;
  margin-top: 50px;
}
.row .col-md-6 .iframe iframe {
  width: 100%;
  height: 400px;
  min-height: auto;
}
.row video {
  width: 100%;
  height: auto;
  min-height: auto;
}

@media only screen and (max-width: 936px) and (min-width: 766px) {
  .row .col-md-6 .titulos, .row .col-md-6 .titulos h1 {
    padding: 0;
  }
  .row .col-md-6 .titulos p {
    font-size: 13px;
    padding-left: 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 765px) {
  .row .col-md-6 .titulos p {
    color: #ffffff;
  }
}
/*----------------Perfil------------*/
.row .col-md-6 .textoPerfil {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif;
  line-height: 40px;
  color: #ffffff;
  overflow: hidden;
  animation-name: texto;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.row .perfil img {
  width: 100%;
  height: auto;
  min-height: auto;
  box-shadow: 15px 15px 15px rgba(199, 195, 187, 0.6117647059);
}

.row .a1 img {
  width: 100%;
  height: auto;
  min-height: auto;
  box-shadow: -15px 15px 15px rgba(199, 195, 187, 0.6117647059);
}
.row .a3 img {
  margin-bottom: 30px;
}

@keyframes texto {
  0% {
    transform: rotateY(-50px);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 942px) {
  .a2 img {
    margin-top: 100px;
  }
}
/*---------------Discografia-------------*/
.titulos h1, .row .col-md-6 .titulos h1 h1 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  color: #b1afae;
  margin-top: 10px;
  text-align: center;
}

.disco {
  margin: 100px;
}
.disco .contImg {
  width: 400px;
  height: 400px;
  min-width: auto;
  min-height: auto;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5882352941);
}
.disco .contImg img {
  width: 100%;
  height: 100%;
  min-width: auto;
  min-height: auto;
  transition: all 500ms ease-out;
}
.disco .contImg .textoHover {
  width: 100%;
  height: 100%;
  min-width: auto;
  min-height: auto;
  position: absolute;
  top: 0%;
  background-color: rgba(202, 194, 185, 0.678);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.disco .contImg .textoHover a {
  background-color: black;
  color: #b1afae;
  margin: 20px;
  padding: 10px;
}
.disco .contImg .textoHover h3 {
  margin-bottom: 70px;
}
.disco .contImg:hover > .textoHover {
  opacity: 1;
  visibility: visible;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.disco .contImg:hover > .textoHover p {
  margin-top: 70px;
  margin-bottom: 70px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media only screen and (min-width: 400px) and (max-width: 700px) {
  .disco {
    margin: auto;
    margin-top: 100px;
  }
}
/*----paginas discografia-----*/
.row .bubble img {
  width: 100%;
  height: auto;
  min-width: auto;
  min-height: auto;
}
.row .textoBubble {
  width: 50%;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: #ffffff;
}
.row .textoBubble h1 {
  margin-bottom: 30px;
}
.row .textoBubble li {
  margin: 20px;
}

@media only screen and (max-width: 767px) {
  .row .textoBubble h1 {
    margin-top: 40px;
  }
}
/*----------Contacto----------*/
.contacto {
  width: 70%;
  margin: auto;
}
.contacto form {
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5882352941);
  color: #b1afae;
  margin: 30px;
}
.contacto form h1 {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}
.contacto form .formulario .formInput {
  width: 40%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: 3px solid #F7770F;
  background-color: #01070c;
  color: #b1afae;
}
.contacto form .select {
  margin: 20px;
}
.contacto form .textarea {
  min-height: 150px;
  resize: none;
  text-align: center;
}
.contacto form .textarea textarea {
  width: 50%;
  height: 40%;
}
.contacto form .terminos {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}
.contacto form .terminos .esp {
  margin: 20px;
}

.comentario {
  width: 50%;
  height: 40%;
}

@media only screen and (max-width: 1700px) {
  .contacto {
    width: 85%;
  }
}
@media only screen and (max-width: 800px) {
  .contacto {
    width: 100%;
  }
  .contacto form {
    margin: 0;
  }
}
/*--------INDEX--------*/
.index {
  background-color: black;
  animation-name: aparecerIndex;
  animation-duration: 8s;
  animation-iteration-count: 1;
}

@keyframes aparecerIndex {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.contenedorIndex {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.containerImg {
  width: 75%;
  height: auto;
  margin: auto;
  position: relative;
}

.containerImg img {
  width: 100%;
  height: auto;
  animation-name: intermitenteIndex;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes intermitenteIndex {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.flex-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.enlace {
  position: absolute;
  top: 90%;
  left: 45%;
}

.enlace a:hover {
  color: #F7770F;
}

.enlace a {
  color: #d49059;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  text-decoration: none;
}

@media only screen and (max-width: 1700px) {
  .containerImg {
    width: 85%;
  }
}
@media only screen and (max-width: 1600px) {
  .containerImg {
    width: 90%;
  }
}
@media only screen and (max-width: 1500px) {
  .containerImg {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
